<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.music.songcreator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_songicon"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_songicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.music.songcreator.CreatedSongPlay"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.music.songcreator.CreatedSongsLibrary"
            android:theme="@style/AppTheme" />
        <activity android:name="com.music.songcreator.SettingsPage" />
        <activity
            android:name="com.music.songcreator.Navigator"
            android:label="Saved Content"
            android:theme="@style/AppTheme" />
        <activity android:name="com.music.songcreator.MainActivity" />
        <activity
            android:name="com.music.songcreator.Beatpage4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.music.songcreator.Beatpage3"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.music.songcreator.RecordingLibrary"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.RecSelector"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.Selector"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.LyricsLibrary"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.DownloadedBeats"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.MainActivity5"
            android:configChanges="orientation|screenSize"
            android:label="Record Audio"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.MainActivity4"
            android:configChanges="orientation|screenSize"
            android:label="Create AI Voice"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.FinalActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.music.songcreator.BeatPage2"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.music.songcreator.BeatPage1"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.music.songcreator.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>